/* Scss Document */
@import "lib/sass.scss";
*{
	padding:0px;
	margin:0px;
	outline:none;
	border:0px;
	box-sizing:border-box;
	box-shadow:none;
	border-radius:0px;
	background-color:transparent;
	background-image:none;
	-webkit-appearance: none;
}
html {
		width:360px * $device;
  		height:100%;
		-webkit-transform-origin: top left;
		transform-origin: top left;}	
body{
		width:360px * $device;
		height:100%;
		position:relative;
		}
.model{
	display:none;}		

@mixin main($w:1,$h : 1){	
	#head{
		width:360px * $device;
		height:40px * $device * $h;
		position:absolute;
		top:0px;
		left:0px;
		z-index:2;
		background-color:$mainColor;
		}
	#foot{
		width:360px * $device;
		height:50px * $device * $h;
		position:absolute;
		bottom:0px;
		left:0px;
		z-index:2;
		background-color:$mainColor;
		}
	#main{font-size:12px * $device * $h;
		width:360px * $device;
		height:auto;
		position:absolute;
		top:40px * $device * $h;
		bottom:50px * $device * $h;
		overflow:hidden;
		background-color:$background;}
	}
	
@media all and (orientation : landscape) {
		@include main($device,$size);
		}
@media all and (orientation : portrait){
		@include main($device,1);
		}
